<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

 <menu id="Accessories" label="Accessories" icon="/usr/share/icons/gnome/16x16/categories/gnome-util.png">
      <item label="7-Zip FM" icon="/usr/share/icons/hicolor/32x32/apps/p7zip.png">
       <action name="Execute"><execute>7zFM</execute></action>
     </item>
      <item label="7-Zip FM [firejail]" icon="/usr/share/icons/hicolor/32x32/apps/p7zip.png">
       <action name="Execute"><execute>firejail 7zFM</execute></action>
     </item>
      <item label="Ark" icon="/usr/share/icons/hicolor/16x16/apps/ark.png">
       <action name="Execute"><execute>firejail ark -caption Ark </execute></action>
     </item>
      <item label="Ark" icon="/usr/share/icons/hicolor/16x16/apps/ark.png">
       <action name="Execute"><execute>ark -caption Ark </execute></action>
     </item>
      <item label="Atom" icon="/usr/share/pixmaps/atom.png">
       <action name="Execute"><execute>/usr/bin/atom </execute></action>
     </item>
      <item label="CPU Frequency">
       <action name="Execute"><execute>urxvtc -name "CPU Freq" -title "CPU Freq" -e cpu_freq</execute></action>
     </item>
      <item label="CPU Frequency [firejail]">
       <action name="Execute"><execute>urxvtc -name "CPU Freq" -title "CPU Freq" -e firejail cpu_freq</execute></action>
     </item>
      <item label="CPUS Temp">
       <action name="Execute"><execute>urxvtc -name "CPUS" -title "CPUS" -e ~/bin/cpus_temp</execute></action>
     </item>
      <item label="CPUS Temp [firejail]">
       <action name="Execute"><execute>firejail urxvtc -name "CPUS" -title "CPUS" -e firejail ~/bin/cpus_temp</execute></action>
     </item>
      <item label="Clipboard Syncronizer">
       <action name="Execute"><execute>autocutsel_launcher</execute></action>
     </item>
      <item label="Clipboard Syncronizer [firejail]">
       <action name="Execute"><execute>firejail autocutsel_launcher</execute></action>
     </item>
      <item label="Elementary Test" icon="/usr/share/icons/elementary.png">
       <action name="Execute"><execute>elementary_test</execute></action>
     </item>
      <item label="Elementary Test [firejail]" icon="/usr/share/icons/elementary.png">
       <action name="Execute"><execute>firejail elementary_test</execute></action>
     </item>
      <item label="GPU Stats" icon="/usr/share/pixmaps/nvidia-settings.png">
       <action name="Execute"><execute>urxvtc -name "GPU" -title "GPU" -e nvidia-smi -l 5 -q -d "MEMORY,TEMPERATURE"</execute></action>
     </item>
      <item label="GPU Stats [firejail]" icon="/usr/share/pixmaps/nvidia-settings.png">
       <action name="Execute"><execute>firejail urxvtc -name "GPU" -title "GPU" -e firejail nvidia-smi -l 5 -q -d "MEMORY,TEMPERATURE"</execute></action>
     </item>
      <item label="Gkrellm System Monitor" icon="/usr/share/icons/gnome/16x16/categories/applications-system.png">
       <action name="Execute"><execute>firejail gkrellm</execute></action>
     </item>
      <item label="Gkrellm System Monitor" icon="/usr/share/icons/gnome/16x16/categories/applications-system.png">
       <action name="Execute"><execute>gkrellm</execute></action>
     </item>
      <item label="KeePassX" icon="/usr/share/pixmaps/keepassx.xpm">
       <action name="Execute"><execute>firejail keepassx </execute></action>
     </item>
      <item label="KeePassX" icon="/usr/share/pixmaps/keepassx.xpm">
       <action name="Execute"><execute>keepassx </execute></action>
     </item>
      <item label="Menu Editor" icon="/usr/share/icons/hicolor/16x16/apps/menulibre.svg">
       <action name="Execute"><execute>/usr/bin/menulibre</execute></action>
     </item>
      <item label="More Logs">
       <action name="Execute"><execute>firejail urxvtc -name "More Logs" -title "More Logs" -e sh more_logs</execute></action>
     </item>
      <item label="More Logs">
       <action name="Execute"><execute>urxvtc -name "More Logs" -title "More Logs" -e sh more_logs</execute></action>
     </item>
      <item label="PasswordSafe" icon="/usr/share/pixmaps/pwsafe.png">
       <action name="Execute"><execute>pwsafe </execute></action>
     </item>
      <item label="PasswordSafe [firejail]" icon="/usr/share/pixmaps/pwsafe.png">
       <action name="Execute"><execute>firejail pwsafe </execute></action>
     </item>
      <item label="TTY Clock">
       <action name="Execute"><execute>firejail urxvtc -title "Clock" -name "Clock" -e tty-clock -tc</execute></action>
     </item>
      <item label="TTY Clock">
       <action name="Execute"><execute>urxvtc -title "Clock" -name "Clock" -e tty-clock -tc</execute></action>
     </item>
      <item label="compton">
       <action name="Execute"><execute>compton</execute></action>
     </item>
      <item label="ownCloud desktop sync client " icon="/usr/share/icons/hicolor/22x22/apps/owncloud.png">
       <action name="Execute"><execute>firejail owncloud</execute></action>
     </item>
      <item label="ownCloud desktop sync client " icon="/usr/share/icons/hicolor/22x22/apps/owncloud.png">
       <action name="Execute"><execute>owncloud</execute></action>
     </item>
 </menu> <!-- Accessories -->
 <menu id="Games" label="Games" icon="/usr/share/icons/gnome/16x16/categories/gnome-joystick.png">
      <item label="Doomseeker" icon="///usr/share/doomseeker/icon.png">
       <action name="Execute"><execute>doomseeker</execute></action>
     </item>
      <item label="Doomseeker [firejail]" icon="///usr/share/doomseeker/icon.png">
       <action name="Execute"><execute>firejail doomseeker</execute></action>
     </item>
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>firejail /usr/bin/steam </execute></action>
     </item>
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>/usr/bin/steam </execute></action>
     </item>
      <item label="Xonotic (GLX)" icon="/usr/share/icons/hicolor/16x16/apps/xonotic.png">
       <action name="Execute"><execute>firejail /usr/bin/xonotic-glx</execute></action>
     </item>
      <item label="Xonotic (GLX)" icon="/usr/share/icons/hicolor/16x16/apps/xonotic.png">
       <action name="Execute"><execute>/usr/bin/xonotic-glx</execute></action>
     </item>
      <item label="Xonotic (SDL)" icon="/usr/share/icons/hicolor/16x16/apps/xonotic.png">
       <action name="Execute"><execute>firejail /usr/bin/xonotic-sdl</execute></action>
     </item>
      <item label="Xonotic (SDL)" icon="/usr/share/icons/hicolor/16x16/apps/xonotic.png">
       <action name="Execute"><execute>/usr/bin/xonotic-sdl</execute></action>
     </item>
      <item label="Zandronum (Doom)">
       <action name="Execute"><execute>firejail zandronum</execute></action>
     </item>
      <item label="Zandronum (Doom)">
       <action name="Execute"><execute>zandronum</execute></action>
     </item>
 </menu> <!-- Games -->
 <menu id="Graphics" label="Graphics" icon="/usr/share/icons/gnome/16x16/categories/gnome-graphics.png">
      <item label="GNU Image Manipulation Program" icon="/usr/share/icons/hicolor/16x16/apps/gimp.png">
       <action name="Execute"><execute>firejail gimp-2.8 </execute></action>
     </item>
      <item label="GNU Image Manipulation Program" icon="/usr/share/icons/hicolor/16x16/apps/gimp.png">
       <action name="Execute"><execute>gimp-2.8 </execute></action>
     </item>
      <item label="Gcolor2" icon="///usr/share/pixmaps/gcolor2/icon.png">
       <action name="Execute"><execute>firejail gcolor2</execute></action>
     </item>
      <item label="Gcolor2" icon="///usr/share/pixmaps/gcolor2/icon.png">
       <action name="Execute"><execute>gcolor2</execute></action>
     </item>
      <item label="KeyMon" icon="/usr/share/pixmaps/key-mon.xpm">
       <action name="Execute"><execute>firejail key-mon</execute></action>
     </item>
      <item label="KeyMon" icon="/usr/share/pixmaps/key-mon.xpm">
       <action name="Execute"><execute>key-mon</execute></action>
     </item>
      <item label="MComix" icon="/usr/share/icons/hicolor/16x16/apps/mcomix.png">
       <action name="Execute"><execute>firejail mcomix </execute></action>
     </item>
      <item label="MComix" icon="/usr/share/icons/hicolor/16x16/apps/mcomix.png">
       <action name="Execute"><execute>mcomix </execute></action>
     </item>
      <item label="feh" icon="///usr/share/feh/images/feh.png">
       <action name="Execute"><execute>firejail feh </execute></action>
     </item>
      <item label="feh" icon="///usr/share/feh/images/feh.png">
       <action name="Execute"><execute>feh </execute></action>
     </item>
      <item label="mediadownloader">
       <action name="Execute"><execute>firejail /usr/bin/mediadownloader</execute></action>
     </item>
      <item label="mediadownloader">
       <action name="Execute"><execute>/usr/bin/mediadownloader</execute></action>
     </item>
 </menu> <!-- Graphics -->
 <menu id="Internet" label="Internet" icon="/usr/share/icons/gnome/16x16/categories/gnome-globe.png">
      <item label="Avahi SSH Server Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/bssh</execute></action>
     </item>
      <item label="Avahi SSH Server Browser [firejail]" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>firejail /usr/bin/bssh</execute></action>
     </item>
      <item label="Avahi VNC Server Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/bvnc</execute></action>
     </item>
      <item label="Avahi VNC Server Browser [firejail]" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>firejail /usr/bin/bvnc</execute></action>
     </item>
      <item label="Canto Curses - RSS manager">
       <action name="Execute"><execute>urxvtc -name "RSS" -title "RSS" -e canto-curses</execute></action>
     </item>
      <item label="Canto Curses - RSS manager [firejail]">
       <action name="Execute"><execute>firejail urxvtc -name "RSS" -title "RSS" -e firejail canto-curses</execute></action>
     </item>
      <item label="Claws Mail" icon="/usr/share/icons/hicolor/48x48/apps/claws-mail.png">
       <action name="Execute"><execute>claws-mail </execute></action>
     </item>
      <item label="Claws Mail [firejail]" icon="/usr/share/icons/hicolor/48x48/apps/claws-mail.png">
       <action name="Execute"><execute>firejail claws-mail </execute></action>
     </item>
      <item label="Electrum Bitcoin Wallet" icon="///usr/share/app-install/icons/electrum.png">
       <action name="Execute"><execute>electrum </execute></action>
     </item>
      <item label="Electrum Bitcoin Wallet [firejail]" icon="///usr/share/app-install/icons/electrum.png">
       <action name="Execute"><execute>firejail electrum </execute></action>
     </item>
      <item label="EtherApe" icon="/usr/share/pixmaps/etherape.png">
       <action name="Execute"><execute>etherape</execute></action>
     </item>
      <item label="EtherApe [firejail]" icon="/usr/share/pixmaps/etherape.png">
       <action name="Execute"><execute>firejail etherape</execute></action>
     </item>
      <item label="FileZilla" icon="/usr/share/icons/hicolor/16x16/apps/filezilla.png">
       <action name="Execute"><execute>firejail filezilla</execute></action>
     </item>
      <item label="FileZilla" icon="/usr/share/icons/hicolor/16x16/apps/filezilla.png">
       <action name="Execute"><execute>filezilla</execute></action>
     </item>
      <item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
       <action name="Execute"><execute>firejail /usr/lib/firefox/firefox </execute></action>
     </item>
      <item label="Firefox" icon="/usr/share/icons/gnome/16x16/apps/web-browser.png">
       <action name="Execute"><execute>firejail firefox  --profilemanager</execute></action>
     </item>
      <item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
       <action name="Execute"><execute>/usr/lib/firefox/firefox </execute></action>
     </item>
      <item label="GNUnet Secured P2P" icon="/usr/share/icons/hicolor/16x16/apps/gnunet-fs-gtk.png">
       <action name="Execute"><execute>gnunet-fs-gtk</execute></action>
     </item>
      <item label="GNUnet Setup">
       <action name="Execute"><execute>gnunet-setup</execute></action>
     </item>
      <item label="Google Chrome" icon="/usr/share/icons/hicolor/16x16/apps/google-chrome.png">
       <action name="Execute"><execute>firejail /usr/bin/google-chrome-stable </execute></action>
     </item>
      <item label="Google Chrome" icon="/usr/share/icons/hicolor/16x16/apps/google-chrome.png">
       <action name="Execute"><execute>/usr/bin/google-chrome-stable </execute></action>
     </item>
      <item label="Mumble">
       <action name="Execute"><execute>mumble</execute></action>
     </item>
      <item label="Mutt Email Client">
       <action name="Execute"><execute>firejail urxvtc -name "Mail" -title "Mail" -e torsocks mutt</execute></action>
     </item>
      <item label="Mutt Email Client">
       <action name="Execute"><execute>urxvtc -name "Mail" -title "Mail" -e torsocks mutt</execute></action>
     </item>
      <item label="Qtransmission Bittorrent Client" icon="/usr/share/pixmaps/transmission-qt.png">
       <action name="Execute"><execute>firejail transmission-qt </execute></action>
     </item>
      <item label="Qtransmission Bittorrent Client" icon="/usr/share/pixmaps/transmission-qt.png">
       <action name="Execute"><execute>transmission-qt </execute></action>
     </item>
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>firejail /usr/bin/steam </execute></action>
     </item>
      <item label="Steam" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>/usr/bin/steam </execute></action>
     </item>
      <item label="TeamViewer 9" icon="///opt/teamviewer9/tv_bin/desktop/teamviewer.png">
       <action name="Execute"><execute>/opt/teamviewer9/tv_bin/script/teamviewer</execute></action>
     </item>
      <item label="Tubefox">
       <action name="Execute"><execute>/usr/lib/firefox/firefox -P tubefox -no-remote</execute></action>
     </item>
      <item label="Weechat" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvtc -title "IRC1" -name "IRC1" -e weechat-curses</execute></action>
     </item>
      <item label="Weechat [firejail]" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvtc -title "top1" -name "top1" -e firejail weechat-curses</execute></action>
     </item>
      <item label="Zenmap" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>firejail zenmap </execute></action>
     </item>
      <item label="Zenmap" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>zenmap </execute></action>
     </item>
      <item label="Zenmap (as root)" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>firejail /usr/share/zenmap/su-to-zenmap.sh </execute></action>
     </item>
      <item label="Zenmap (as root)" icon="///usr/share/zenmap/pixmaps/zenmap.png">
       <action name="Execute"><execute>/usr/share/zenmap/su-to-zenmap.sh </execute></action>
     </item>
      <item label="mediadownloader">
       <action name="Execute"><execute>firejail /usr/bin/mediadownloader</execute></action>
     </item>
      <item label="mediadownloader">
       <action name="Execute"><execute>/usr/bin/mediadownloader</execute></action>
     </item>
      <item label="pglgui" icon="/usr/share/pixmaps/pglgui.png">
       <action name="Execute"><execute>firejail pglgui</execute></action>
     </item>
      <item label="pglgui" icon="/usr/share/pixmaps/pglgui.png">
       <action name="Execute"><execute>pglgui</execute></action>
     </item>
      <item label="vimb web browser" icon="/usr/share/icons/gnome/16x16/apps/web-browser.png">
       <action name="Execute"><execute>firejail vb </execute></action>
     </item>
      <item label="vimb web browser" icon="/usr/share/icons/gnome/16x16/apps/web-browser.png">
       <action name="Execute"><execute>vb </execute></action>
     </item>
      <item label="vimb web browser proxy" icon="/usr/share/icons/gnome/16x16/status/security-medium.png">
       <action name="Execute"><execute>firejail vbp </execute></action>
     </item>
      <item label="vimb web browser proxy" icon="/usr/share/icons/gnome/16x16/status/security-medium.png">
       <action name="Execute"><execute>vbp </execute></action>
     </item>
      <item label="wpa_gui" icon="/usr/share/pixmaps/wpa_gui.svg">
       <action name="Execute"><execute>wpa_gui</execute></action>
     </item>
      <item label="wpa_gui [firejail]" icon="/usr/share/pixmaps/wpa_gui.svg">
       <action name="Execute"><execute>firejail wpa_gui</execute></action>
     </item>
 </menu> <!-- Internet -->
 <menu id="Office" label="Office" icon="/usr/share/icons/gnome/16x16/categories/gnome-applications.png">
      <item label="Xpdf" icon="/usr/share/pixmaps/xpdf.xpm">
       <action name="Execute"><execute>xpdf </execute></action>
     </item>
      <item label="Xpdf [firejail]" icon="/usr/share/pixmaps/xpdf.xpm">
       <action name="Execute"><execute>firejail xpdf </execute></action>
     </item>
 </menu> <!-- Office -->
 <menu id="Other" label="Other" icon="/usr/share/icons/gnome/16x16/categories/gnome-other.png">
      <item label="Johnny">
       <action name="Execute"><execute>firejail /opt/johnny/johnny</execute></action>
     </item>
      <item label="Johnny">
       <action name="Execute"><execute>/opt/johnny/johnny</execute></action>
     </item>
      <item label="Update Packages" icon="/usr/share/icons/gnome/16x16/apps/system-software-update.png">
       <action name="Execute"><execute>firejail urxvtc -title "Updates" -name "Updates" -e pacupdater</execute></action>
     </item>
      <item label="Update Packages" icon="/usr/share/icons/gnome/16x16/apps/system-software-update.png">
       <action name="Execute"><execute>urxvtc -title "Updates" -name "Updates" -e pacupdater</execute></action>
     </item>
 </menu> <!-- Other -->
 <menu id="Programming" label="Programming" icon="/usr/share/icons/gnome/16x16/categories/gnome-devel.png">
      <item label="(sudo)Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
       <action name="Execute"><execute>firejail kdesudo subl3 </execute></action>
     </item>
      <item label="(sudo)Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
       <action name="Execute"><execute>sudo subl3 </execute></action>
     </item>
      <item label="(sudo)Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
       <action name="Execute"><execute>kdesudo subl3 </execute></action>
     </item>
      <item label="Atom" icon="/usr/share/pixmaps/atom.png">
       <action name="Execute"><execute>/usr/bin/atom </execute></action>
     </item>
      <item label="CMake" icon="/usr/share/pixmaps/CMakeSetup32.png">
       <action name="Execute"><execute>cmake-gui </execute></action>
     </item>
      <item label="CMake [firejail]" icon="/usr/share/pixmaps/CMakeSetup32.png">
       <action name="Execute"><execute>firejail cmake-gui </execute></action>
     </item>
      <item label="Data Display Debugger" icon="/usr/share/pixmaps/ddd.xpm">
       <action name="Execute"><execute>ddd</execute></action>
     </item>
      <item label="Data Display Debugger [firejail]" icon="/usr/share/pixmaps/ddd.xpm">
       <action name="Execute"><execute>firejail ddd</execute></action>
     </item>
      <item label="Elementary Test" icon="/usr/share/icons/elementary.png">
       <action name="Execute"><execute>elementary_test</execute></action>
     </item>
      <item label="Elementary Test [firejail]" icon="/usr/share/icons/elementary.png">
       <action name="Execute"><execute>firejail elementary_test</execute></action>
     </item>
      <item label="GHex" icon="/usr/share/icons/hicolor/16x16/apps/ghex.png">
       <action name="Execute"><execute>firejail ghex </execute></action>
     </item>
      <item label="GHex" icon="/usr/share/icons/hicolor/16x16/apps/ghex.png">
       <action name="Execute"><execute>ghex </execute></action>
     </item>
      <item label="Glade" icon="/usr/share/icons/hicolor/16x16/apps/glade.png">
       <action name="Execute"><execute>glade </execute></action>
     </item>
      <item label="Meld" icon="/usr/share/icons/hicolor/16x16/apps/meld.png">
       <action name="Execute"><execute>firejail meld </execute></action>
     </item>
      <item label="Meld" icon="/usr/share/icons/hicolor/16x16/apps/meld.png">
       <action name="Execute"><execute>meld </execute></action>
     </item>
      <item label="OpenJDK Policy Tool" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
       <action name="Execute"><execute>/usr/bin/policytool</execute></action>
     </item>
      <item label="Qt Assistant" icon="/usr/share/icons/hicolor/32x32/apps/assistant.png">
       <action name="Execute"><execute>/usr/lib/qt/bin/assistant</execute></action>
     </item>
      <item label="Qt Assistant [firejail]" icon="/usr/share/icons/hicolor/32x32/apps/assistant.png">
       <action name="Execute"><execute>firejail /usr/lib/qt/bin/assistant</execute></action>
     </item>
      <item label="Qt Creator" icon="/usr/share/icons/hicolor/16x16/apps/QtProject-qtcreator.png">
       <action name="Execute"><execute>firejail /usr/bin/qtcreator</execute></action>
     </item>
      <item label="Qt Creator" icon="/usr/share/icons/hicolor/16x16/apps/QtProject-qtcreator.png">
       <action name="Execute"><execute>/usr/bin/qtcreator</execute></action>
     </item>
      <item label="Qt Designer" icon="/usr/share/icons/hicolor/128x128/apps/designer.png">
       <action name="Execute"><execute>/usr/lib/qt/bin/designer</execute></action>
     </item>
      <item label="Qt Designer [firejail]" icon="/usr/share/icons/hicolor/128x128/apps/designer.png">
       <action name="Execute"><execute>firejail /usr/lib/qt/bin/designer</execute></action>
     </item>
      <item label="Qt Linguist" icon="/usr/share/icons/hicolor/16x16/apps/linguist.png">
       <action name="Execute"><execute>firejail /usr/lib/qt/bin/linguist</execute></action>
     </item>
      <item label="Qt Linguist" icon="/usr/share/icons/hicolor/16x16/apps/linguist.png">
       <action name="Execute"><execute>/usr/lib/qt/bin/linguist</execute></action>
     </item>
      <item label="Qt QDbusViewer " icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer.png">
       <action name="Execute"><execute>firejail /usr/lib/qt/bin/qdbusviewer</execute></action>
     </item>
      <item label="Qt QDbusViewer " icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer.png">
       <action name="Execute"><execute>/usr/lib/qt/bin/qdbusviewer</execute></action>
     </item>
      <item label="Qt4 Assistant " icon="/usr/share/icons/hicolor/32x32/apps/assistant-qt4.png">
       <action name="Execute"><execute>assistant-qt4</execute></action>
     </item>
      <item label="Qt4 Assistant [firejail]" icon="/usr/share/icons/hicolor/32x32/apps/assistant-qt4.png">
       <action name="Execute"><execute>firejail assistant-qt4</execute></action>
     </item>
      <item label="Qt4 Designer" icon="/usr/share/icons/hicolor/128x128/apps/designer-qt4.png">
       <action name="Execute"><execute>designer-qt4</execute></action>
     </item>
      <item label="Qt4 Designer [firejail]" icon="/usr/share/icons/hicolor/128x128/apps/designer-qt4.png">
       <action name="Execute"><execute>firejail designer-qt4</execute></action>
     </item>
      <item label="Qt4 Linguist " icon="/usr/share/icons/hicolor/16x16/apps/linguist-qt4.png">
       <action name="Execute"><execute>firejail linguist-qt4</execute></action>
     </item>
      <item label="Qt4 Linguist " icon="/usr/share/icons/hicolor/16x16/apps/linguist-qt4.png">
       <action name="Execute"><execute>linguist-qt4</execute></action>
     </item>
      <item label="Qt4 QDbusViewer " icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt4.png">
       <action name="Execute"><execute>firejail qdbusviewer-qt4</execute></action>
     </item>
      <item label="Qt4 QDbusViewer " icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt4.png">
       <action name="Execute"><execute>qdbusviewer-qt4</execute></action>
     </item>
      <item label="Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
       <action name="Execute"><execute>firejail subl3 </execute></action>
     </item>
      <item label="Sublime Text 3 Dev" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
       <action name="Execute"><execute>subl3 </execute></action>
     </item>
      <item label="vogleditor (Qt)" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>vogleditor </execute></action>
     </item>
      <item label="vogleditor (Qt) [firejail]" icon="/usr/share/icons/hicolor/16x16/apps/steam.png">
       <action name="Execute"><execute>firejail vogleditor </execute></action>
     </item>
 </menu> <!-- Programming -->
 <menu id="Sound &amp; Video" label="Sound &amp; Video" icon="/usr/share/icons/gnome/16x16/categories/gnome-multimedia.png">
      <item label="K3b" icon="/usr/share/icons/hicolor/16x16/apps/k3b.png">
       <action name="Execute"><execute>firejail k3b </execute></action>
     </item>
      <item label="K3b" icon="/usr/share/icons/hicolor/16x16/apps/k3b.png">
       <action name="Execute"><execute>k3b </execute></action>
     </item>
      <item label="Kdenlive" icon="/usr/share/icons/hicolor/32x32/apps/kdenlive.png">
       <action name="Execute"><execute>firejail kdenlive  -caption Kdenlive </execute></action>
     </item>
      <item label="Kdenlive" icon="/usr/share/icons/hicolor/32x32/apps/kdenlive.png">
       <action name="Execute"><execute>kdenlive  -caption Kdenlive </execute></action>
     </item>
      <item label="Music On Console Player">
       <action name="Execute"><execute>firejail urxvtc -name "MOCP" -title MOCP -e mocp</execute></action>
     </item>
      <item label="Music On Console Player">
       <action name="Execute"><execute>urxvtc -name "MOCP" -title MOCP -e mocp</execute></action>
     </item>
      <item label="OBS" icon="/usr/share/icons/hicolor/256x256/apps/obs.png">
       <action name="Execute"><execute>firejail obs</execute></action>
     </item>
      <item label="OBS" icon="/usr/share/icons/hicolor/256x256/apps/obs.png">
       <action name="Execute"><execute>obs</execute></action>
     </item>
      <item label="PulseAudio Volume Control" icon="/usr/share/icons/gnome/16x16/apps/multimedia-volume-control.png">
       <action name="Execute"><execute>firejail pavucontrol</execute></action>
     </item>
      <item label="PulseAudio Volume Control" icon="/usr/share/icons/gnome/16x16/apps/multimedia-volume-control.png">
       <action name="Execute"><execute>pavucontrol</execute></action>
     </item>
      <item label="Qt V4L2 test Utility" icon="/usr/share/icons/hicolor/16x16/apps/qv4l2.png">
       <action name="Execute"><execute>firejail qv4l2</execute></action>
     </item>
      <item label="Qt V4L2 test Utility" icon="/usr/share/icons/hicolor/16x16/apps/qv4l2.png">
       <action name="Execute"><execute>qv4l2</execute></action>
     </item>
      <item label="Radio">
       <action name="Execute"><execute>firejail urxvtc -title "Radio" -name "Radio" -e pyradio</execute></action>
     </item>
      <item label="Radio">
       <action name="Execute"><execute>urxvtc -title "Radio" -name "Radio" -e pyradio</execute></action>
     </item>
      <item label="SimpleScreenRecorder" icon="/usr/share/icons/hicolor/16x16/apps/simplescreenrecorder.png">
       <action name="Execute"><execute>firejail simplescreenrecorder --logfile</execute></action>
     </item>
      <item label="SimpleScreenRecorder" icon="/usr/share/icons/hicolor/16x16/apps/simplescreenrecorder.png">
       <action name="Execute"><execute>simplescreenrecorder --logfile</execute></action>
     </item>
      <item label="Transcoder" icon="///usr/share/Transcoder/transcoder.png">
       <action name="Execute"><execute>firejail Transcoder</execute></action>
     </item>
      <item label="Transcoder" icon="///usr/share/Transcoder/transcoder.png">
       <action name="Execute"><execute>Transcoder</execute></action>
     </item>
      <item label="VLC media player" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
       <action name="Execute"><execute>/usr/bin/vlc --started-from-file </execute></action>
     </item>
      <item label="VLC media player [firejail]" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
       <action name="Execute"><execute>firejail /usr/bin/vlc --started-from-file </execute></action>
     </item>
      <item label="XBMC Media Center" icon="/usr/share/icons/hicolor/48x48/apps/xbmc.png">
       <action name="Execute"><execute>xbmc</execute></action>
     </item>
      <item label="XBMC Media Center [firejail]" icon="/usr/share/icons/hicolor/48x48/apps/xbmc.png">
       <action name="Execute"><execute>firejail xbmc</execute></action>
     </item>
      <item label="Youtube Viewer" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
       <action name="Execute"><execute>firejail urxvtc -name "youtube" -title "youtube" -e youtube-viewer --prefer-https --use-colors --quiet -7 -S -C --video-player="vlc"</execute></action>
     </item>
      <item label="Youtube Viewer" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
       <action name="Execute"><execute>urxvtc -name "youtube" -title "youtube" -e youtube-viewer --prefer-https --use-colors --quiet -7 -S -C --video-player="vlc"</execute></action>
     </item>
      <item label="avidemux (Qt)" icon="/usr/share/pixmaps/avidemux.png">
       <action name="Execute"><execute>avidemux2_qt4</execute></action>
     </item>
      <item label="avidemux (Qt) [firejail]" icon="/usr/share/pixmaps/avidemux.png">
       <action name="Execute"><execute>firejail avidemux2_qt4</execute></action>
     </item>
 </menu> <!-- Sound & Video -->
 <menu id="System Tools" label="System Tools" icon="/usr/share/icons/gnome/16x16/categories/gnome-system.png">
      <item label="Add/Remove Software" icon="/usr/share/icons/octopi.png">
       <action name="Execute"><execute>firejail octopi</execute></action>
     </item>
      <item label="Add/Remove Software" icon="/usr/share/icons/octopi.png">
       <action name="Execute"><execute>octopi</execute></action>
     </item>
      <item label="Avahi Zeroconf Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>/usr/bin/avahi-discover</execute></action>
     </item>
      <item label="Avahi Zeroconf Browser [firejail]" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
       <action name="Execute"><execute>firejail /usr/bin/avahi-discover</execute></action>
     </item>
      <item label="Cool Retro Term" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>cool-retro-term</execute></action>
     </item>
      <item label="Cool Retro Term [firejail]" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>firejail cool-retro-term</execute></action>
     </item>
      <item label="Disk Usage Analyzer" icon="/usr/share/icons/hicolor/16x16/apps/baobab.png">
       <action name="Execute"><execute>firejail baobab</execute></action>
     </item>
      <item label="Disk Usage Analyzer" icon="/usr/share/icons/hicolor/16x16/apps/baobab.png">
       <action name="Execute"><execute>baobab</execute></action>
     </item>
      <item label="Dolphin" icon="/usr/share/icons/gnome/16x16/apps/system-file-manager.png">
       <action name="Execute"><execute>firejail dolphin  -caption Dolphin </execute></action>
     </item>
      <item label="Dolphin" icon="/usr/share/icons/gnome/16x16/apps/system-file-manager.png">
       <action name="Execute"><execute>dolphin  -caption Dolphin </execute></action>
     </item>
      <item label="Enlightenment File Manager" icon="/usr/share/icons/gnome/16x16/apps/system-file-manager.png">
       <action name="Execute"><execute>enlightenment_filemanager </execute></action>
     </item>
      <item label="EtherApe" icon="/usr/share/pixmaps/etherape.png">
       <action name="Execute"><execute>etherape</execute></action>
     </item>
      <item label="EtherApe [firejail]" icon="/usr/share/pixmaps/etherape.png">
       <action name="Execute"><execute>firejail etherape</execute></action>
     </item>
      <item label="FSlint" icon="/usr/share/pixmaps/fslint_icon.png">
       <action name="Execute"><execute>firejail fslint-gui</execute></action>
     </item>
      <item label="FSlint" icon="/usr/share/pixmaps/fslint_icon.png">
       <action name="Execute"><execute>fslint-gui</execute></action>
     </item>
      <item label="GParted" icon="/usr/share/icons/hicolor/16x16/apps/gparted.png">
       <action name="Execute"><execute>firejail /usr/bin/gparted_polkit </execute></action>
     </item>
      <item label="GParted" icon="/usr/share/icons/hicolor/16x16/apps/gparted.png">
       <action name="Execute"><execute>/usr/bin/gparted_polkit </execute></action>
     </item>
      <item label="Htop" icon="/usr/share/pixmaps/htop.png">
       <action name="Execute"><execute>xterm -e htop</execute></action>
     </item>
      <item label="K3b" icon="/usr/share/icons/hicolor/16x16/apps/k3b.png">
       <action name="Execute"><execute>firejail k3b </execute></action>
     </item>
      <item label="K3b" icon="/usr/share/icons/hicolor/16x16/apps/k3b.png">
       <action name="Execute"><execute>k3b </execute></action>
     </item>
      <item label="Konsole" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>firejail konsole</execute></action>
     </item>
      <item label="Konsole" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>konsole</execute></action>
     </item>
      <item label="Octopi Notifier" icon="/usr/share/icons/octopi.png">
       <action name="Execute"><execute>firejail octopi-notifier</execute></action>
     </item>
      <item label="Octopi Notifier" icon="/usr/share/icons/octopi.png">
       <action name="Execute"><execute>octopi-notifier</execute></action>
     </item>
      <item label="Oracle VM VirtualBox" icon="/usr/share/icons/hicolor/16x16/mimetypes/virtualbox.png">
       <action name="Execute"><execute>VirtualBox </execute></action>
     </item>
      <item label="Oracle VM VirtualBox [firejail]" icon="/usr/share/icons/hicolor/16x16/mimetypes/virtualbox.png">
       <action name="Execute"><execute>firejail VirtualBox </execute></action>
     </item>
      <item label="System Profiler and Benchmark" icon="///usr/share/hardinfo/pixmaps/logo.png">
       <action name="Execute"><execute>firejail hardinfo</execute></action>
     </item>
      <item label="System Profiler and Benchmark" icon="///usr/share/hardinfo/pixmaps/logo.png">
       <action name="Execute"><execute>hardinfo</execute></action>
     </item>
      <item label="Task Manager" icon="/usr/share/icons/gnome/16x16/apps/utilities-system-monitor.png">
       <action name="Execute"><execute>lxtask</execute></action>
     </item>
      <item label="Terminology" icon="/usr/share/icons/terminology.png">
       <action name="Execute"><execute>firejail terminology</execute></action>
     </item>
      <item label="Terminology" icon="/usr/share/icons/terminology.png">
       <action name="Execute"><execute>terminology</execute></action>
     </item>
      <item label="UXTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>firejail uxterm</execute></action>
     </item>
      <item label="UXTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>uxterm</execute></action>
     </item>
      <item label="XTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>xterm</execute></action>
     </item>
      <item label="XTerm [firejail]" icon="/usr/share/pixmaps/xterm-color_48x48.xpm">
       <action name="Execute"><execute>firejail xterm</execute></action>
     </item>
      <item label="dconf Editor" icon="/usr/share/icons/hicolor/16x16/apps/dconf-editor.png">
       <action name="Execute"><execute>dconf-editor</execute></action>
     </item>
      <item label="dconf Editor [firejail]" icon="/usr/share/icons/hicolor/16x16/apps/dconf-editor.png">
       <action name="Execute"><execute>firejail dconf-editor</execute></action>
     </item>
      <item label="fsv2">
       <action name="Execute"><execute>firejail fsv2</execute></action>
     </item>
      <item label="fsv2">
       <action name="Execute"><execute>fsv2</execute></action>
     </item>
      <item label="urxvt" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>firejail urxvt</execute></action>
     </item>
      <item label="urxvt" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvt</execute></action>
     </item>
      <item label="urxvt (client)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>firejail urxvtc</execute></action>
     </item>
      <item label="urxvt (client)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvtc</execute></action>
     </item>
      <item label="urxvt (tabbed)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>firejail urxvt-tabbed</execute></action>
     </item>
      <item label="urxvt (tabbed)" icon="/usr/share/icons/gnome/16x16/apps/utilities-terminal.png">
       <action name="Execute"><execute>urxvt-tabbed</execute></action>
     </item>
 </menu> <!-- System Tools -->
<menu id="exit-menu" label="Exit">
	<item label="Log Out">
		<action name="Execute">
			<command>openbox --exit</command>
		</action>
	</item>
	<item label="Shutdown">
		<action name="Execute">
			<command>systemctl poweroff</command>
		</action>
	</item>
	<item label="Restart">
		<action name="Execute">
		        <command>systemctl reboot</command>
		</action>
	</item>
	<item label="Suspend">
		<action name="Execute">
		        <command>systemctl suspend</command>
		</action>
	</item>
	<item label="Hibernate">
		<action name="Execute">
		        <command>systemctl hibernate</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="Accessories"/>
  <menu id="Games"/>
  <menu id="Graphics"/>
  <menu id="Internet"/>
  <menu id="Office"/>
  <menu id="Other"/>
  <menu id="Programming"/>
  <menu id="Sound &amp; Video"/>
  <separator label="System" />
  <menu id="System Tools"/>
  <separator />
  <menu id="exit-menu"/>
</menu>
</openbox_menu>
