[Desktop Entry]
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-deb;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-servicepack;application/x-rar;application/x-7z-compressed;application/x-java-archive;application/zip;application/x-compress;application/x-gzip;application/x-bzip;application/x-bzip2;application/x-lzma;application/x-xz;application/lha;application/x-lha;application/maclha;
GenericName=Archiving Tool
GenericName[af]=Argiveer Program
GenericName[ar]=أداة أرشفة
GenericName[ast]=Ferramienta p'archivar
GenericName[bg]=Работа с архиви
GenericName[br]=Ostilh merañ an Dielloù
GenericName[bs]=Alatka za arhiviranje
GenericName[ca]=Eina d'arxivament
GenericName[ca@valencia]=Eina d'arxivament
GenericName[cs]=Archivační nástroj
GenericName[cy]=Erfyn Archifo
GenericName[da]=Ark [firejail]iveringsværktøj
GenericName[de]=Archivprogramm
GenericName[el]=Εργαλείο αρχειοθέτησης
GenericName[en_GB]=Archiving Tool
GenericName[eo]=Ark [firejail]ivilo
GenericName[es]=Archivador
GenericName[et]=Arhiivide haldamise rakendus
GenericName[eu]=Artxibatzeko tresna
GenericName[fa]=ابزار بایگانی
GenericName[fi]=Pakkausohjelma
GenericName[fr]=Outil d'archivage
GenericName[ga]=Uirlis Chartlannaithe
GenericName[gl]=Utilidade de arquivo
GenericName[he]=כלי לניהול ארכיונים
GenericName[hne]=अभिलेखन औजार
GenericName[hr]=Alat za arhiviranje
GenericName[hu]=Fájltömörítő
GenericName[ia]=Instrumento per archivar
GenericName[id]=Perkakas Pengarsip
GenericName[is]=Vinna með safnskrár
GenericName[it]=Strumento di archiviazione
GenericName[ja]=アーカイブツール
GenericName[kk]=Архивтеу құралы
GenericName[km]=ឧបករណ៍​ប័ណ្ណសារ
GenericName[ko]=압축 도구
GenericName[lt]=Archyvavimo priemonė
GenericName[lv]=Arhivēšanas rīks
GenericName[mk]=Алатка за архивирање
GenericName[mr]=संग्रह साधन
GenericName[ms]=Alatan Pengarkiban
GenericName[nb]=Ark [firejail]iveringsverktøy
GenericName[nds]=Archievwarktüüch
GenericName[ne]=सङ्ग्रहण उपकरण
GenericName[nl]=Archiefgereedschap
GenericName[nn]=Ark [firejail]iveringsverktøy
GenericName[pa]=ਅਕਾਇਵਿੰਗ ਟੂਲ
GenericName[pl]=Narzędzie do archiwizacji
GenericName[pt]=Ferramenta de Armazenamento
GenericName[pt_BR]=Ferramenta de Arquivamento
GenericName[ro]=Utilitar de arhivare
GenericName[ru]=Архиватор
GenericName[sk]=Archivačný nástroj
GenericName[sl]=Orodje za ravnanje z arhivi
GenericName[sq]=Mjeti Arkivues
GenericName[sr]=Алатка за архивирање
GenericName[sr@ijekavian]=Алатка за архивирање
GenericName[sr@ijekavianlatin]=Alatka za arhiviranje
GenericName[sr@latin]=Alatka za arhiviranje
GenericName[sv]=Ark [firejail]iveringsverktyg
GenericName[ta]=காப்பக கருவி
GenericName[tg]=Асбобҳои Бойгонӣ
GenericName[th]=เครื่องมือจัดการแฟ้มจัดเก็บ
GenericName[tr]=Arşivleme Aracı
GenericName[ug]=ئارخىپ قورالى
GenericName[uk]=Засіб роботи з архівами
GenericName[uz]=Arxivlash vositasi
GenericName[uz@cyrillic]=Архивлаш воситаси
GenericName[vi]=Công Cụ Nén
GenericName[wa]=Usteye d' årtchivaedje
GenericName[xh]=Isixhobo Sokuphatha i Archive
GenericName[x-test]=xxArchiving Toolxx
GenericName[zh_CN]=压缩归档工具
GenericName[zh_TW]=壓縮工具
Name=Ark [firejail]
Name[af]=Ark [firejail]
Name[ar]=أرك [firejail]
Name[ast]=Ark [firejail]
Name[bg]=Ark [firejail]
Name[br]=Ark [firejail]
Name[bs]=Ark [firejail]
Name[ca]=Ark [firejail]
Name[ca@valencia]=Ark [firejail]
Name[cs]=Ark [firejail]
Name[cy]=Ark [firejail]
Name[da]=Ark [firejail]
Name[de]=Ark [firejail]
Name[el]=Ark [firejail]
Name[en_GB]=Ark [firejail]
Name[eo]=Ark [firejail]o
Name[es]=Ark [firejail]
Name[et]=Ark [firejail]
Name[eu]=Ark [firejail]
Name[fi]=Ark [firejail]
Name[fr]=Ark [firejail]
Name[ga]=Ark [firejail]
Name[gl]=Ark [firejail]
Name[he]=Ark [firejail]
Name[hne]=आर्क [firejail]
Name[hr]=Ark [firejail]
Name[hu]=Ark [firejail]
Name[ia]=Ark [firejail]
Name[id]=Ark [firejail]
Name[is]=Ark [firejail]
Name[it]=Ark [firejail]
Name[ja]=Ark [firejail]
Name[kk]=Ark [firejail]
Name[km]=Ark [firejail]
Name[ko]=Ark [firejail]
Name[lt]=Ark [firejail]
Name[lv]=Ark [firejail]
Name[mk]=Ark [firejail]
Name[mr]=आर्क [firejail]
Name[ms]=Ark [firejail]
Name[nb]=Ark [firejail]
Name[nds]=Ark [firejail]
Name[ne]=आर्क [firejail]
Name[nl]=Ark [firejail]
Name[nn]=Ark [firejail]
Name[pa]=ਆਕ [firejail]
Name[pl]=Ark [firejail]
Name[pt]=Ark [firejail]
Name[pt_BR]=Ark [firejail]
Name[ro]=Ark [firejail]
Name[ru]=Ark [firejail]
Name[sk]=Ark [firejail]
Name[sl]=Ark [firejail]
Name[sq]=Ark [firejail]
Name[sr]=Арк [firejail]
Name[sr@ijekavian]=Арк [firejail]
Name[sr@ijekavianlatin]=Ark [firejail]
Name[sr@latin]=Ark [firejail]
Name[sv]=Ark [firejail]
Name[ta]=ஆர்க் [firejail]
Name[tg]=Ark [firejail]
Name[th]=อาร์ก [firejail]
Name[tr]=Ark [firejail]
Name[ug]=Ark [firejail]
Name[uk]=Ark [firejail]
Name[uz]=Ark [firejail]
Name[uz@cyrillic]=Ark [firejail]
Name[vi]=Ark [firejail]
Name[wa]=Ark [firejail]
Name[xh]=Ark [firejail]
Name[x-test]=xxArkxx [firejail]
Name[zh_CN]=Ark [firejail]
Name[zh_TW]=Ark [firejail]
Exec=firejail ark -caption %c %U
Icon=ark
X-DocPath=ark/index.html
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-KDE-HasTempFileOption=true
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
InitialPreference=3
