[Desktop Entry]

Exec=firejail khelpcenter
Icon=help-browser
X-DocPath=khelpcenter/index.html
Type=Application
Terminal=false

Name=Help [firejail]
Name[af]=Hulp [firejail]
Name[ar]=مساعدة [firejail]
Name[as]=সহায় [firejail]
Name[ast]=Ayuda [firejail]
Name[be]=Дапамога [firejail]
Name[be@latin]=Dapamoha [firejail]
Name[bg]=Помощ [firejail]
Name[bn]=সাহায্য [firejail]
Name[bn_IN]=সাহায্য [firejail]
Name[br]=Skoazell [firejail]
Name[bs]=Pomoć [firejail]
Name[ca]=Ajuda [firejail]
Name[ca@valencia]=Ajuda
Name[cs]=Nápověda [firejail]
Name[csb]=Pòmòc [firejail]
Name[cy]=Cymorth [firejail]
Name[da]=Hjælp [firejail]
Name[de]=Hilfe [firejail]
Name[el]=Βοήθεια [firejail]
Name[en_GB]=Help [firejail]
Name[eo]=Helpo [firejail]
Name[es]=Ayuda [firejail]
Name[et]=Abi [firejail]
Name[eu]=Laguntza [firejail]
Name[fa]=کمک [firejail]
Name[fi]=Ohjeet [firejail]
Name[fr]=Aide [firejail]
Name[fy]=Help [firejail]
Name[ga]=Cabhair [firejail]
Name[gl]=Axuda [firejail]
Name[gu]=મદદ [firejail]
Name[he]=עזרה [firejail]
Name[hi]=मदद [firejail]
Name[hne]=मदद [firejail]
Name[hr]=Pomoć [firejail]
Name[hsb]=Pomoc [firejail]
Name[hu]=Súgó [firejail]
Name[ia]=Adjuta [firejail]
Name[id]=Bantuan [firejail]
Name[is]=Hjálp [firejail]
Name[it]=Aiuto [firejail]
Name[ja]=ヘルプ [firejail]
Name[ka]=დახმარება [firejail]
Name[kk]=Анықтама [firejail]
Name[km]=ជំនួយ [firejail]
Name[kn]=ಸಹಾಯ [firejail]
Name[ko]=도움말 [firejail]
Name[ku]=Alîkarî [firejail]
Name[lt]=Pagalba [firejail]
Name[lv]=Palīdzība [firejail]
Name[mai]=मद्दति [firejail]
Name[mk]=Помош [firejail]
Name[ml]=സഹായം [firejail]
Name[mr]=मदत [firejail]
Name[ms]=Bantuan [firejail]
Name[nb]=Hjelp [firejail]
Name[nds]=Hülp [firejail]
Name[ne]=मद्दत [firejail]
Name[nl]=Documentatie [firejail]
Name[nn]=Hjelp [firejail]
Name[oc]=Ajuda [firejail]
Name[or]=ସହାୟତା [firejail]
Name[pa]=ਮੱਦਦ [firejail]
Name[pl]=Pomoc [firejail]
Name[pt]=Ajuda [firejail]
Name[pt_BR]=Ajuda [firejail]
Name[ro]=Ajutor [firejail]
Name[ru]=Справка [firejail]
Name[se]=Veahkki [firejail]
Name[si]=උදව් [firejail]
Name[sk]=Pomocník [firejail]
Name[sl]=Pomoč [firejail]
Name[sr]=Помоћ [firejail]
Name[sr@ijekavian]=Помоћ [firejail]
Name[sr@ijekavianlatin]=Pomoć [firejail]
Name[sr@latin]=Pomoć [firejail]
Name[sv]=Hjälp [firejail]
Name[ta]=உதவி [firejail]
Name[te]=సహాయం [firejail]
Name[tg]=Роҳнамо [firejail]
Name[th]=วิธีใช้ [firejail]
Name[tr]=Yardım [firejail]
Name[ug]=ياردەم [firejail]
Name[uk]=Довідка [firejail]
Name[uz]=Yordam [firejail]
Name[uz@cyrillic]=Ёрдам [firejail]
Name[vi]=Trợ giúp [firejail]
Name[wa]=Aidance [firejail]
Name[xh]=Uncedo [firejail]
Name[x-test]=xxHelpxx [firejail]
Name[zh_CN]=帮助 [firejail]
Name[zh_TW]=求助 [firejail]

Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
