[Desktop Entry]
Type=Application
Exec=firejail kmailservice %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService [firejail]
Name[ar]=KMailService [firejail]
Name[bg]=KMailService [firejail]
Name[bs]=KMailService [firejail]
Name[ca]=KMailService [firejail]
Name[ca@valencia]=KMailService [firejail]
Name[cs]=Poštovní služba [firejail]
Name[da]=KMailService [firejail]
Name[de]=KMailService [firejail]
Name[el]=Υπηρεσία Kmail [firejail]
Name[en_GB]=KMailService [firejail]
Name[es]=KMailService [firejail]
Name[et]=KMailService [firejail]
Name[eu]=KMailService [firejail]
Name[fa]=KMailService [firejail]
Name[fi]=KMailService [firejail]
Name[fr]=KMailService [firejail]
Name[ga]=KMailService [firejail]
Name[gl]=KMailService [firejail]
Name[gu]=KMailસેવા [firejail]
Name[he]=KMailService [firejail]
Name[hi]=के-मेल-सर्विस [firejail]
Name[hr]=KMailService [firejail]
Name[hu]=KMailService [firejail]
Name[hy]=KMailService [firejail]
Name[ia]=KMailService [firejail] (Servicio de KMail)
Name[id]=KMailService [firejail]
Name[is]=KMailÞjónusta [firejail]
Name[it]=KMailService [firejail]
Name[ja]=KMailService [firejail]
Name[kk]=KMailService [firejail]
Name[km]=KMailService [firejail]
Name[ko]=KMailService [firejail]
Name[lt]=KMail tarnyba [firejail]
Name[lv]=KMailService [firejail]
Name[mr]=KMail सेवा [firejail]
Name[nb]=KMail-posttjeneste [firejail]
Name[nds]=KMailService [firejail]
Name[nl]=KMailService [firejail]
Name[pa]=KMailService [firejail]
Name[pl]=Usługa KMail [firejail]
Name[pt]=KMailService [firejail]
Name[pt_BR]=KMailService [firejail]
Name[ro]=Serviciu KMail [firejail]
Name[ru]=KMailService [firejail]
Name[se]=KMailService [firejail]
Name[si]=KMailService [firejail]
Name[sk]=KMailService [firejail]
Name[sl]=KMailService [firejail]
Name[sr]=Сервис за пошту [firejail]
Name[sr@ijekavian]=Сервис за пошту [firejail]
Name[sr@ijekavianlatin]=Servis za poštu [firejail]
Name[sr@latin]=Servis za poštu [firejail]
Name[sv]=Kmail-tjänst [firejail]
Name[tg]=Хадамоти KMailService [firejail]
Name[th]=KMailService [firejail]
Name[tr]=KMailService [firejail]
Name[tt]=KMailService [firejail]
Name[ug]=KMailService [firejail]
Name[uk]=Служба пошти KMail [firejail]
Name[vi]=KMailService [firejail]
Name[wa]=KMailService [firejail]
Name[x-test]=xxKMailServicexx [firejail]
Name[zh_CN]=KMailService [firejail]
Name[zh_TW]=KMail服務 [firejail]
