[Desktop Entry]
Name=KNetAttach [firejail]
Name[af]=KNetAttach [firejail]
Name[ast]=KNetAttach [firejail]
Name[be]=KNetAttach [firejail]
Name[be@latin]=KNetAttach [firejail]
Name[bg]=KNetAttach [firejail]
Name[bn]=কে-নেট-অ্যাটাচ [firejail]
Name[bn_IN]=KNetAttach [firejail]
Name[br]=KNetAttach [firejail]
Name[bs]=K‑mrežohvat [firejail]
Name[ca]=KNetAttach [firejail]
Name[ca@valencia]=KNetAttach [firejail]
Name[cs]=KNetAttach [firejail]
Name[csb]=KNetAttach [firejail]
Name[da]=KNetAttach [firejail]
Name[de]=KNetAttach [firejail]
Name[el]=KNetAttach [firejail]
Name[en_GB]=KNetAttach [firejail]
Name[eo]=KNetAttach [firejail]
Name[es]=KNetAttach [firejail]
Name[et]=KNetAttach [firejail]
Name[eu]=KNetAttach [firejail]
Name[fa]=KNetAttach [firejail]
Name[fi]=KNetAttach [firejail]
Name[fr]=KNetAttach [firejail]
Name[fy]=KNetAttach [firejail]
Name[ga]=KNetAttach [firejail]
Name[gl]=KNetAttach [firejail]
Name[gu]=KNetAttach [firejail]
Name[he]=KNetAttach [firejail]
Name[hi]=केनेटअटैच [firejail]
Name[hne]=केनेटअटैच [firejail]
Name[hr]=KNetAttach [firejail]
Name[hsb]=KNetAttach [firejail]
Name[hu]=KNetAttach [firejail]
Name[ia]=KNetAttach [firejail]
Name[id]=KNetAttach [firejail]
Name[is]=KNetAttach [firejail]
Name[it]=KNetAttach [firejail]
Name[ja]=KNetAttach [firejail]
Name[ka]=KNetAttach [firejail]
Name[kk]=KNetAttach [firejail]
Name[km]=KNetAttach [firejail]
Name[kn]=ಕೆನೆಟ್ ಅಟಾಚ್ [firejail]
Name[ko]=KNetAttach [firejail]
Name[ku]=KNetAttach [firejail]
Name[lt]=KNetAttach [firejail]
Name[lv]=KNetAttach [firejail]
Name[mai]=केनेटअटैच [firejail]
Name[mk]=KNetAttach [firejail]
Name[ml]=കെനെറ്റ്അറ്റാച്ച് [firejail]
Name[mr]=KNetAttach [firejail]
Name[ms]=KNetAttach [firejail]
Name[nb]=KNetAttach [firejail]
Name[nds]=KNetAttach [firejail]
Name[ne]=केडीई नेट सङ्लग्नता [firejail]
Name[nl]=KNetAttach [firejail]
Name[nn]=KNetAttach [firejail]
Name[oc]=KNetAttach [firejail]
Name[or]=KNetAttach [firejail]
Name[pa]=KNetAttach [firejail]
Name[pl]=KNetAttach [firejail]
Name[pt]=KNetAttach [firejail]
Name[pt_BR]=KNetAttach [firejail]
Name[ro]=KNetAttach [firejail]
Name[ru]=KNetAttach [firejail]
Name[se]=KNetAttach [firejail]
Name[si]=KNetAttach [firejail]
Name[sk]=KNetAttach [firejail]
Name[sl]=KNetAttach [firejail]
Name[sr]=К‑мрежохват [firejail]
Name[sr@ijekavian]=К‑мрежохват [firejail]
Name[sr@ijekavianlatin]=K‑mrežohvat [firejail]
Name[sr@latin]=K‑mrežohvat [firejail]
Name[sv]=KNetAttach [firejail]
Name[ta]=நெட்ஹாக்இணைப்பு [firejail]
Name[te]=కెనెట్ ఎటాచ్ [firejail]
Name[tg]=KNetAttach [firejail]
Name[th]=KNetAttach [firejail]
Name[tr]=KNetAttach [firejail]
Name[ug]=KNetAttach [firejail]
Name[uk]=KNetAttach [firejail]
Name[uz]=KNetAttach [firejail]
Name[uz@cyrillic]=KNetAttach [firejail]
Name[vi]=KNetAttach [firejail]
Name[wa]=KNetAttach [firejail]
Name[x-test]=xxKNetAttachxx [firejail]
Name[zh_CN]=KNetAttach [firejail]
Name[zh_TW]=KNetAttach [firejail]
GenericName=Network Folder Wizard
GenericName[af]=Netwerk Gids Assistent
GenericName[ar]=مرشد مجلد الشبكة
GenericName[ast]=Asistente de carpetes de rede
GenericName[be]=Майстар сеткавай тэчкі
GenericName[be@latin]=Akno naładaŭ dla sietkavaha kataloha
GenericName[bg]=Мрежови инструмент
GenericName[bn]=নেটওয়ার্ক ফোল্ডার উইজার্ড
GenericName[bn_IN]=নেটওয়ার্ক ফোল্ডারের উইজার্ড
GenericName[br]=Skoazeller renkell rouedad
GenericName[bs]=Čarobnjak za mrežne fascikle
GenericName[ca]=Assistent de carpeta de xarxa
GenericName[ca@valencia]=Assistent de carpeta de xarxa
GenericName[cs]=Průvodce síťovou složkou
GenericName[csb]=Asystenta sécowëch katalogów
GenericName[da]=Guide til netværksmappe
GenericName[de]=Assistent für Netzwerkordner
GenericName[el]=Μάγος Φακέλων Δικτύου
GenericName[en_GB]=Network Folder Wizard
GenericName[eo]=Asistanto de retaj dosierujoj
GenericName[es]=Asistente de carpetas de red
GenericName[et]=Võrgukataloogide nõustaja
GenericName[eu]=Sareko karpeten morroia
GenericName[fa]=جادوگر پوشه شبکه
GenericName[fi]=Opastettu verkkokansion lisäys
GenericName[fr]=Assistant de dossier réseau
GenericName[fy]=Netwurkmap-assistint
GenericName[ga]=Treoraí Fillteáin Líonra
GenericName[gl]=Asistente para compartición de cartafoles
GenericName[gu]=નેટવર્ક ફોલ્ડર વિઝાર્ડ
GenericName[he]=אשף תיקיות הרשת
GenericName[hi]=नेटवर्क फ़ोल्डर विज़ॉर्ड
GenericName[hne]=नेटवर्क फोल्डर विजार्ड
GenericName[hr]=Čarobnjak mrežnih mapa
GenericName[hsb]=Kuzłar za syćowe zapiski
GenericName[hu]=Varázsló hálózati mappa beállításához
GenericName[ia]=Assistente de dossier de rete
GenericName[id]=Penyihir Folder Jaringan
GenericName[is]=Netmöppuálfur
GenericName[it]=Assistente per le cartelle di rete
GenericName[ja]=ネットワーク フォルダ ウィザード
GenericName[ka]=ქსელურ საქარალდეთა ოსტატი
GenericName[kk]=Желідегі қапшық шебері
GenericName[km]=អ្នក​ជំនួយ​ការ​ថត​បណ្ដាញ
GenericName[kn]=ಜಾಲ ಕಡತಕೋಶ ಮಾಂತ್ರಿಕ (ವಿಜಾರ್ಡ್)
GenericName[ko]=네트워크 폴더 마법사
GenericName[ku]=Sêrbaza Peldanka Torê
GenericName[lt]=Tinklo aplanko vedlys
GenericName[lv]=Tīkla mapju vednis
GenericName[mai]=नेटवर्क फोल्डर विजार्ड
GenericName[mk]=Волшебник за мрежни папки
GenericName[ml]=നെറ്റ്‌വര്‍ക്ക് ഫോള്‍ഡര്‍ മാന്ത്രികന്‍
GenericName[mr]=संजाळ संचयीका विजॉर्ड
GenericName[ms]=Wizard Folder Rangkaian
GenericName[nb]=Veiviser for nettverksmappe
GenericName[nds]=Hölper för Nettwarkorner
GenericName[ne]=सञ्जाल फोल्डर विजार्ड
GenericName[nl]=Netwerkmap-assistent
GenericName[nn]=Vegvisar for nettverksmappe
GenericName[or]=ନେଟୱର୍କ ଫୋଲଡ଼ର ୱିଜାର୍ଡ଼
GenericName[pa]=ਨੈੱਟਵਰਕ ਫੋਲਡਰ ਸਹਾਇਕ
GenericName[pl]=Pomocnik katalogów sieciowych
GenericName[pt]=Assistente de Pastas de Rede
GenericName[pt_BR]=Assistente de pastas de rede
GenericName[ro]=Expert dosar de rețea
GenericName[ru]=Подключение сетевых папок
GenericName[se]=Fierpmádatmáhppaofelaš
GenericName[si]=ජාල බහාළුම් විශාරද
GenericName[sk]=Sprievodca sieťových priečinkov
GenericName[sl]=Čarovnik za omrežne mape
GenericName[sr]=Чаробњак за мрежне фасцикле
GenericName[sr@ijekavian]=Чаробњак за мрежне фасцикле
GenericName[sr@ijekavianlatin]=Čarobnjak za mrežne fascikle
GenericName[sr@latin]=Čarobnjak za mrežne fascikle
GenericName[sv]=Nätverkskatalogguide
GenericName[ta]=வலைப்பின்னல் அடைவு பகுதி
GenericName[te]=నెట్వర్‍క్  సంచయం విజార్‍డ్‌
GenericName[tg]=Танзимоти феҳристи шабака
GenericName[th]=ช่วยตั้งค่าโฟลเดอร์เครือข่าย
GenericName[tr]=Ağ Dizini Sihirbazı
GenericName[ug]=تور قىسقۇچى يېتەكچىسى
GenericName[uk]=Майстер мережевих тек
GenericName[uz]=Tarmoq jildi boʻyicha yordamchi
GenericName[uz@cyrillic]=Тармоқ жилди бўйича ёрдамчи
GenericName[vi]=Trợ lý thư mục mạng
GenericName[wa]=Macrea po les ridants rantoele
GenericName[x-test]=xxNetwork Folder Wizardxx
GenericName[zh_CN]=网络文件夹向导
GenericName[zh_TW]=網路資料夾精靈
Exec=firejail knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;RemoteAccess;
X-DocPath=knetattach/index.html
OnlyShowIn=KDE;
