[Desktop Entry]
Type=Application
TryExec=firejail konsole
Exec=firejail konsole
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewWindow;
X-DocPath=konsole/index.html
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=true
X-KDE-AuthorizeAction=shell_access

Name=Konsole [firejail]
Name[af]=Konsole [firejail]
Name[ar]=كونسول [firejail]
Name[as]=Konsole [firejail]
Name[ast]=Konsole [firejail]
Name[be]=Konsole [firejail]
Name[be@latin]=Konsole [firejail]
Name[bg]=Konsole [firejail]
Name[bn]=কনসোল [firejail]
Name[bn_IN]=Konsole [firejail]
Name[br]=Konsole [firejail]
Name[bs]=Konzola [firejail]
Name[ca]=Konsole [firejail]
Name[ca@valencia]=Konsole [firejail]
Name[cs]=Konsole [firejail]
Name[csb]=Kònsola [firejail]
Name[cy]=Konsole [firejail]
Name[da]=Konsole [firejail]
Name[de]=Konsole [firejail]
Name[el]=Κονσόλα [firejail]
Name[en_GB]=Konsole [firejail]
Name[eo]=Konsole [firejail]
Name[es]=Konsole [firejail]
Name[et]=Konsool [firejail]
Name[eu]=Kontsola [firejail]
Name[fi]=Konsole [firejail]
Name[fr]=Konsole [firejail]
Name[fy]=Konsole [firejail]
Name[ga]=Konsole [firejail]
Name[gl]=Konsole [firejail]
Name[gu]=કોન્સોલ [firejail]
Name[he]=Konsole [firejail]
Name[hi]=कंसोल [firejail]
Name[hne]=कंसोल [firejail]
Name[hr]=Konsole [firejail]
Name[hsb]=Konsola [firejail]
Name[hu]=Konsole [firejail]
Name[ia]=Konsole [firejail]
Name[id]=Konsole [firejail]
Name[is]=Konsole [firejail]
Name[it]=Konsole [firejail]
Name[ja]=Konsole [firejail]
Name[ka]=კონსოლი [firejail]
Name[kk]=Konsole [firejail]
Name[km]=កុងសូល [firejail]
Name[kn]=ಕನ್ಸೋಲ್ [firejail]
Name[ko]=Konsole [firejail]
Name[ku]=Konsol [firejail]
Name[lt]=Konsole [firejail]
Name[lv]=Konsole [firejail]
Name[mai]=कंसोल [firejail]
Name[mk]=Конзола [firejail]
Name[ml]=കണ്‍സോള്‍ [firejail]
Name[mr]=कंसोल [firejail]
Name[ms]=Konsole [firejail]
Name[nb]=Konsole [firejail]
Name[nds]=Konsole [firejail]
Name[ne]=कन्सोल [firejail]
Name[nl]=Konsole [firejail]
Name[nn]=Konsoll [firejail]
Name[oc]=Konsole [firejail]
Name[or]=କୋଲସୋଲ [firejail]
Name[pa]=ਕਨਸੋਲ [firejail]
Name[pl]=Konsola [firejail]
Name[pt]=Konsole [firejail]
Name[pt_BR]=Konsole [firejail]
Name[ro]=Konsolă [firejail]
Name[ru]=Konsole [firejail]
Name[se]=Konsolla [firejail]
Name[si]=කන්සෝල් [firejail]
Name[sk]=Konsole [firejail]
Name[sl]=Konsole [firejail]
Name[sr]=Конзола [firejail]
Name[sr@ijekavian]=Конзола [firejail]
Name[sr@ijekavianlatin]=Konsole [firejail]
Name[sr@latin]=Konsole [firejail]
Name[sv]=Konsole [firejail]
Name[ta]=கான்சோல் [firejail]
Name[te]=కాన్సోల్ [firejail]
Name[tg]=Консол [firejail]
Name[th]=คอนโซล-K [firejail]
Name[tr]=Konsole [firejail]
Name[ug]=Konsole [firejail]
Name[uk]=Konsole [firejail]
Name[uz]=Konsole [firejail]
Name[uz@cyrillic]=Konsole [firejail]
Name[vi]=Konsole [firejail]
Name[wa]=Konsole [firejail]
Name[xh]=Konsole [firejail]
Name[x-test]=xxKonsolexx [firejail]
Name[zh_CN]=Konsole [firejail]
Name[zh_TW]=Konsole [firejail]

GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=طرفيّة
GenericName[as]=টাৰ্মিনেল
GenericName[ast]=Terminal
GenericName[be@latin]=Terminał
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[bn_IN]=টার্মিন্যাল
GenericName[bs]=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cs]=Terminál
GenericName[csb]=Terminal
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fi]=Pääteikkuna
GenericName[fr]=Terminal
GenericName[fy]=Terminal
GenericName[ga]=Teirminéal
GenericName[gl]=Terminal
GenericName[gu]=ટર્મિનલ
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hne]=टर्मिनल
GenericName[hr]=Terminal
GenericName[hsb]=Terminal
GenericName[hu]=Terminál
GenericName[ia]=Terminal
GenericName[id]=Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[km]=ស្ថានីយ
GenericName[kn]=ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್)
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mai]=टर्मिनल
GenericName[mk]=Терминал
GenericName[ml]=ടെര്‍മിനല്‍
GenericName[mr]=टर्मिनल
GenericName[nb]=Terminal
GenericName[nds]=Konsool
GenericName[nl]=Terminal
GenericName[nn]=Terminal
GenericName[or]=ଟର୍ମିନାଲ
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[se]=Terminal
GenericName[si]=අග්‍රය
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sr@ijekavian]=Терминал
GenericName[sr@ijekavianlatin]=Terminal
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[te]=టెర్మినల్
GenericName[tg]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[uz]=Terminal
GenericName[uz@cyrillic]=Терминал
GenericName[wa]=Terminå
GenericName[x-test]=xxTerminalxx
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機

[Desktop Action NewWindow]
Name=Open a New Window
Name[ar]=افتح نافذة جديدة
Name[bs]=Otvori u novom prozoru
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Fenster öffnen
Name[el]=Άνοιγμα νέου παραθύρου
Name[en_GB]=Open a New Window
Name[es]=Abrir una nueva ventana
Name[et]=Ava uues aknas
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir dans une nouvelle fenêtre
Name[gl]=Abrir unha xanela nova
Name[he]=פתח חלון חדש
Name[hu]=Új ablak megnyitása
Name[ia]=Aperi un nove fenestra
Name[id]=Buka Jendela Baru
Name[is]=Opna nýjan glugga
Name[it]=Apri in una nuova finestra
Name[ko]=새 창 열기
Name[nb]=Åpne et nytt vindu
Name[nds]=En nieg Finster opmaken
Name[nl]=Een nieuw venster openen
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma Nova Janela
Name[pt_BR]=Abre uma nova janela
Name[ro]=Deschide o fereastră nouă
Name[ru]=Открыть новое окно
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отвори нови прозор
Name[sr@ijekavian]=Отвори нови прозор
Name[sr@ijekavianlatin]=Otvori novi prozor
Name[sr@latin]=Otvori novi prozor
Name[sv]=Öppna ett nytt fönster
Name[tr]=Yeni Bir Pencere Aç
Name[uk]=Відкрити нове вікно
Name[x-test]=xxOpen a New Windowxx
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新視窗
Exec=firejail konsole
