[Desktop Entry]
Type=Application
Exec=firejail ktelnetservice %u
Icon=utilities-terminal
MimeType=x-scheme-handler/telnet;x-scheme-handler/rlogin;x-scheme-handler/ssh;

X-DocPath=kioslave/telnet/index.html
NoDisplay=true

Name=KTelnetService [firejail]
Name[ar]=KTelnetService [firejail]
Name[bg]=KTelnetService [firejail]
Name[bs]=KTelnetService [firejail]
Name[ca]=KTelnetService [firejail]
Name[ca@valencia]=KTelnetService [firejail]
Name[cs]=KTelnetService [firejail]
Name[da]=KTelnetService [firejail]
Name[de]=KTelnetService [firejail]
Name[el]=Υπηρεσία KTelnet [firejail]
Name[en_GB]=KTelnetService [firejail]
Name[es]=KTelnetService [firejail]
Name[et]=KTelnetService [firejail]
Name[eu]=KTelnetService [firejail]
Name[fi]=KTelnetService [firejail]
Name[fr]=KTelnetService [firejail]
Name[ga]=KTelnetService [firejail]
Name[gl]=KTelnetService [firejail]
Name[gu]=KTelnetસેવા [firejail]
Name[he]=KTelnetService [firejail]
Name[hi]=KTelnetService [firejail]
Name[hr]=KTelnetService [firejail]
Name[hu]=KTelnetService [firejail]
Name[hy]=KTelnetService [firejail]
Name[ia]=KTelnetService (Servicio de KTelnet) [firejail]
Name[id]=KTelnetService [firejail]
Name[is]=KTelnetÞjónusta [firejail]
Name[it]=KTelnetService [firejail]
Name[ja]=KTelnetService [firejail]
Name[kk]=KTelnetService [firejail]
Name[km]=KTelnetService [firejail]
Name[ko]=KTelnetService [firejail]
Name[lt]=KTelnetTarnyba [firejail]
Name[lv]=KTelnetService [firejail]
Name[mr]=KTelnetService [firejail]
Name[nb]=KTelnetService [firejail]
Name[nds]=KTelnetService [firejail]
Name[nl]=KTelnetService [firejail]
Name[pa]=KTelnetService [firejail]
Name[pl]=Usługa KTelnet [firejail]
Name[pt]=KTelnetService [firejail]
Name[pt_BR]=KTelnetService [firejail]
Name[ro]=Serviciu KTelnet [firejail]
Name[ru]=Служба telnet KTelnetService
Name[se]=KTelnetService [firejail]
Name[si]=KTelnetService [firejail]
Name[sk]=KTelnetService [firejail]
Name[sl]=KTelnetService [firejail]
Name[sr]=KMailService [firejail]
Name[sr@ijekavian]=KMailService [firejail]
Name[sr@ijekavianlatin]=KMailService [firejail]
Name[sr@latin]=KMailService [firejail]
Name[sv]=Ktelnet-tjänst [firejail]
Name[tg]=Хадамоти KTelnetService [firejail]
Name[th]=KTelnetService [firejail]
Name[tr]=KTelnetService [firejail]
Name[tt]=KTelnetService [firejail]
Name[ug]=KTelnetService [firejail]
Name[uk]=Служба telnet KTelnet [firejail]
Name[vi]=KTelnetService [firejail]
Name[wa]=KTelnetService [firejail]
Name[x-test]=xxKTelnetServicexx [firejail]
Name[zh_CN]=KTelnetService [firejail]
Name[zh_TW]=KTelnet服務 [firejail]
