[Desktop Action mountiso]
Exec=mntDir=$(kdialog --getexistingdirectory ~/) && echo $(kdialog --password "insert root password") | sudo -S mount -o loop -t iso9660 %u $mntDir; dolphin $mntDir;
Icon=media-optical
Name=Mount iso
Name[it]=Monta immagine
Name[en]=Mount iso

[Desktop Action umountiso]
Exec=mntDir=$(kdialog --getexistingdirectory ~/) && echo $(kdialog --password "insert root password") | sudo -S umount $mntDir; kdialog --passivepopup "unmounted!"
Icon=media-optical
Name=Unmount Iso
Name[it]=smonta immagine
Name[en]=Unmount Iso

[Desktop Entry]
Actions=mountiso;umountiso
Icon=media-optical
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-cd-image/.*
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Manage Iso
