[Desktop Entry]
Name=Indicator Remindor
Comment=Indicator Remindor
Categories=GNOME;Utility;
Exec=indicator-remindor
Icon=indicator-remindor
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
