[Desktop Entry]
Categories=GNOME;Utility;
Comment=Octopi Notifier
Exec=octopi-notifier
Hidden=true
Icon=octopi
Name=Octopi Notifier
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
