[Desktop Entry]
Categories=
Comment=Start the Zeitgeist Datahub for passive loggers
Encoding=UTF-8
Exec=zeitgeist-datahub
GenericName=
Hidden=true
Name=Zeitgeist Datahub
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=false
