[Desktop Entry]
Version=1.0
Name=Avahi Zeroconf Browser [firejail]
Name[bg]=Преглед на улеснените услуги с Avahi [firejail]
Name[ca]=Navegador zeroconf Avahi [firejail]
Name[da]=Avahi Zeroconf-browser [firejail]
Name[de]=Avahi Zeroconf Browser [firejail]
Name[en_GB]=Avahi Zeroconf Browser [firejail]
Name[en_NZ]=Avahi Zeroconf Browser [firejail]
Name[es]=Navegador Zeroconf de Avahi [firejail]
Name[fi]=Avahin Zeroconf-selain [firejail]
Name[fo]=Avahi Zeroconf kagi [firejail]
Name[fr]=Explorateur Zeroconf d'Avahi [firejail]
Name[gl]=Navegador Zeroconf de Avahi [firejail]
Name[he]=סייר ה־Zeroconf של ‏Avahi [firejail]
Name[hu]=Avahi Zeroconf-böngésző [firejail]
Name[id]=Peramban Zeroconf Avahi [firejail]
Name[it]=Esploratore Zeroconf Avahi [firejail]
Name[ja]=Avahi Zeroconf ブラウザ [firejail]
Name[pl]=Przeglądarka Zeroconf Avahi [firejail]
Name[pt_BR]=Navegador Zeroconf do Avahi [firejail]
Name[ro]=Navigator Avahi Zeroconf [firejail]
Name[ru]=Обозреватель Avahi Zeroconf [firejail]
Name[sl]=Brskalnik Avahi Zeroconf [firejail]
Name[sr]=Авахи Zeroconf претраживач [firejail]
Name[sr@latin]=Avahi Zeroconf pretraživač [firejail]
Name[sv]=Avahi Zeroconf-bläddrare [firejail]
Name[uk]=Переглядач Zeroconf Avahi [firejail]
Name[zh_CN]=Avahi Zero浏览器 [firejail]
Name[zh_TW]=Avahi Zeroconf 瀏 [firejail]覽程式
Comment=Browse for Zeroconf services available on your network
Comment[bg]=Преглед на улеснените услуги (Zeroconf) в мрежата ви
Comment[ca]=Navegueu pels serveis Zeroconf disponibles a la vostra xarxa
Comment[da]=Kig efter tilgængelige Zeroconftjenester på dit netværk
Comment[de]=Durchsuchen nach Zeroconf-aktivierten Diensten in Ihrem Netzwerk
Comment[en_GB]=Browse for Zeroconf services available on your network
Comment[en_NZ]=Browse for Zeroconf services available on your network
Comment[es]=Navegar en busca de servicios Zeroconf disponibles en su red
Comment[fi]=Selaa verkossa saatavilla olevia Zeroconf-palveluita
Comment[fo]=Kaga eftir Zeroconf-tænastum, tøkar á tínum neti
Comment[fr]=Explorer les services Zeroconf disponibles sur votre réseau
Comment[gl]=Navegar na busca de servizos Zeroconf dispoñíbeis na súa rede
Comment[he]=סיור אחר שירותי Zeroconf הזמינים ברשת שלך
Comment[hu]=Zeroconf szolgáltatások keresése a hálózaton
Comment[id]=Ramban layanan Zeroconf yang tersedia pada jaringan Anda
Comment[it]=Esplora i servizi Zeroconf disponibili sulla propria rete
Comment[ja]=ネットワーク上の利用可能な Zeroconf サービスを検索
Comment[pl]=Przeglądanie usług Zeroconf dostępnych w sieci
Comment[pt_BR]=Procurar por serviços Zeroconf disponíveis em sua rede
Comment[ro]=Descoperă serviciile Zeroconf disponibile în rețeaua dumneavoastră.
Comment[ru]=Поиск служб Zeroconf в локальной сети
Comment[sl]=Brskanje med razpoložljivimi storitvami Zeroconf v omrežju
Comment[sr]=Претражујем доступне Zeroconf услуге на вашој мрежи
Comment[sr@latin]=Pretražujem dostupne Zeroconf usluge na vašoj mreži
Comment[sv]=Bläddra efter Zeroconf-tjänster tillgängliga på ditt nätverk
Comment[uk]=Переглянути служби Zeroconf, доступ до яких можна отримати у вашій мережі
Comment[zh_CN]=浏览网络内的Zeroconf服务
Comment[zh_TW]=在您的網路上瀏覽可用的 Zeroconf 服務
Exec=firejail /usr/bin/avahi-discover
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;System;
StartupNotify=false
GenericName=
