[Desktop Entry]
Version=1.0
Name=Canto Curses - RSS manager [firejail]
Comment=Deskop file for Canto Curses - mooOS
Exec=urxvtc -name "RSS" -title "RSS" -e firejail canto-curses
Icon=liferea
Terminal=false
Type=Application
Categories=Network;
