#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Doomseeker [firejail]
Comment=Internet Doom server browser.
Exec=firejail doomseeker
Icon=/usr/share/doomseeker/icon.png
Terminal=false
Categories=Game
