[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elementary Configuration [firejail]
Name[cs]=Konfigurace Elementary [firejail]
Name[eo]=Agordi Elementary [firejail]
Name[es]=Configure Elementary [firejail]
Name[fr]=Configuration pour Elementary [firejail]
Name[gl]=Configure Elementary [firejail]
Name[it]=Configurazione di Elementary [firejail]
Name[ms]=Konfigurasi Elementary [firejail]
Name[pt]=Configure o Elementary [firejail]
Name[ru]=Параметры Elementary [firejail]
Name[sr]=Поставке Еламентарија [firejail]
Name[tr]=Elementary Yapılandırması [firejail]
Comment=Elementary Configuration
Comment[cs]=Konfigurace Elementary
Comment[eo]=Agordi Elementary
Comment[es]=Configure Elementary
Comment[fr]=Configuration pour Elementary
Comment[gl]=Configure Elementary
Comment[it]=Configurazione di Elementary
Comment[ms]=Konfigurasi Elementary
Comment[pt]=Configure o Elementary
Comment[ru]=Параметры Elementary
Comment[sr]=Поставке Еламентарија
Comment[tr]=Elementary Yapılandırması
Icon=elementary
Exec=firejail elementary_config
Terminal=false
Categories=Settings;DesktopSettings;
