[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=EtherApe [firejail]
GenericName=EtherApe
Comment=Graphical Network Monitor
Comment[es]=Monitor Gráfico de Red
Exec=firejail sudo etherape
Terminal=false
Type=Application
Icon=etherape
Categories=GNOME;System;Network;
