[Desktop Entry]
Name=FSlint [firejail]
Comment=File System Lint
Exec=firejail fslint-gui
Terminal=false
Type=Application
Icon=fslint_icon
Categories=System;Filesystem;GTK;
