[Desktop Entry]
Name=System Profiler and Benchmark [firejail]
Name[pt_BR]=Informações e Testes do Sistema [firejail]
Exec=firejail hardinfo
Icon=/usr/share/hardinfo/pixmaps/logo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
