[Desktop Entry]
Version=1.0
Name=Network Notification [firejail]
Comment=Desktop file for network notify mooOS
Exec=firejail network_notify
Icon=network
Terminal=false
Type=Application
Categories=Other;
