[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings [firejail]
Comment=Configure NVIDIA X Server Settings
Exec=firejail /usr/bin/nvidia-settings
Icon=/usr/share/pixmaps/nvidia-settings.png
Categories=Application;Settings;
