[Desktop Entry]
Name=Octopi Notifier [firejail]
Icon=octopi
Exec=firejail octopi-notifier
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=GNOME;XFCE;LXDE;KDE;
StartupNotify=true
