[Desktop Entry]
Version=1.0
Name=Update Packages [firejail]
Comment=Desktop file for package updates - mooOS
Exec=urxvtc -title "Updates" -name "Updates" -e firejail pacupdater
Icon=system-software-update
Terminal=false
Type=Application
Categories=Other;Application;
