[Desktop Entry]
Name=Qt4 QDbusViewer [firejail]
GenericName=D-Bus Debugger
Comment=Debug D-Bus applications
Exec=firejail qdbusviewer-qt4
Icon=qdbusviewer-qt4
Terminal=false
Type=Application
Categories=Qt;Development;Debugger;
