[Desktop Entry]
Name=Qt QDbusViewer [firejail]
GenericName=D-Bus Debugger
Comment=Debug D-Bus applications
Exec=firejail /usr/lib/qt/bin/qdbusviewer
Icon=qdbusviewer
Terminal=false
Type=Application
Categories=Qt;Development;Debugger;
