[Desktop Entry]
Name=Qt4 Config  [firejail]
Comment=Configure Qt4 behavior, styles, fonts
Exec=firejail qtconfig-qt4
Icon=qt4logo
Terminal=false
Type=Application
Categories=Qt;Settings;
NoDisplay=true
