[Desktop Entry]
Version=1.0
Type=Application
Name=Tor-Browser (en-US) [firejail]
Exec=firejail /usr/bin/tor-browser-en
Icon=/usr/share/pixmaps/tor-browser-en.png
Categories=Network;
Comment=Tor Browser Bundle: Anonymous browsing using firefox and tor
