[Desktop Entry]
Type=Application
Exec=autocutsel -fork
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=autocutsel -fork
Name=autocutsel -fork
Comment[en_US]=
Comment=
