[Desktop Entry]
Type=Application
Exec=autocutsel -selection PRIMARY -fork
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=autocutsel -selection PRIMARY -fork
Name=autocutsel -selection PRIMARY -fork
Comment[en_US]=
Comment=
